@charset "UTF-8";
/*!
 * ress.css • v2.0.4
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible; /* Show the overflow in Edge and IE */
  height: 0; /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block; /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px; /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

svg:not([fill]) {
  fill: currentColor;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~=screen] {
    display: inherit;
  }
  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

:root {
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --measure: 60ch;
  --measure-ja: 40em;
  --font-size-small: .75rem;
  --font-size-smallish: .875rem;
  --font-size-base: var(--s0);
  --font-size-biggish: var(--s1);
  --font-size-big: var(--s2);
}

:root {
  --gray: #e5e5e5;
  --gray-secondary: #ebebeb;
  --white: #fbfbfb;
  --black: #111;
  --blue: #165caf;
  --red: #fc4a3a;
}

/* base default*/
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Lato", "Noto Sans JP", sans-serif, 游ゴシック, "Yu Gothic", 游ゴシック体, YuGothic, sans-serif;
}

body {
  background-color: var(--white);
  color: var(--black);
}

main {
  overflow-x: hidden;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  letter-spacing: 0.08em;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

*[lang=en] {
  font-weight: 400;
  font-style: normal;
  font-family: "Lato", sans-serif;
}

.l-stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

[class^=l-stack] > * {
  margin: 0;
}

.l-stack > * + * {
  margin-left: var(--s2);
}

.l-stack-large {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-stack-large > * {
  margin: 0;
}

.l-stack-large > * + * {
  margin-left: var(--s3);
}

.l-stack--column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.l-stack--column > * {
  margin: 0;
}

.l-stack--column > * + * {
  margin-top: var(--s3);
}

.l-spacer--s {
  height: var(--s2);
}
@media screen and (min-width: 576px) {
  .l-spacer--s {
    height: 32px;
  }
}

.l-spacer--m {
  height: var(--s3);
}
@media screen and (min-width: 576px) {
  .l-spacer--m {
    height: 40px;
  }
}

.l-spacer--l {
  height: var(--s4);
}
@media screen and (min-width: 576px) {
  .l-spacer--l {
    height: 72px;
  }
}

.l-grid {
  display: grid;
  grid-gap: var(--s3);
  --minimum: 330px;
}

@supports (width: min(var(--minimum), 100%)) {
  .l-grid {
    grid-template-columns: repeat(auto-fit, minmax(min(var(--minimum), 100%), 1fr));
  }
}
.l-cluster {
  --space: calc(16px / 2);
}
.l-cluster > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: calc(var(--space) / 2 * -1);
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.l-cluster > * > * {
  margin: calc(var(--space) / 2);
}

.l-cluster--large {
  --space: 81px;
}
.l-cluster--large > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: calc(var(--space) / 2 * -1);
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.l-cluster--large > * > * {
  margin: calc(var(--space) / 2);
}

.l-frame {
  position: relative;
  padding-bottom: calc(var(--n) / var(--d) * 100%);
  --n: 9; /* 高さ */
  --d: 16; /* 幅 */
}
.l-frame > * {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.l-frame > img,
.l-frame > video,
.l-frame > iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  font-family: "object-fit:cover";
  object-fit: cover;
}

.l-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1248px;
  width: 100%;
}

.l-section__wrapper {
  padding: var(--s4) 0;
}

.l-section--border {
  border-top: 1px solid var(--gray);
}

.l-section__head {
  -ms-flex-preferred-size: 354px;
  flex-basis: 354px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.l-section__body {
  min-width: 50%;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 999;
  -ms-flex-positive: 999;
  flex-grow: 999;
}

.l-section__container {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: var(--s1);
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.l-section__container > * + * {
  margin-left: 0;
}

.l-siteWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.l-footer {
  letter-spacing: 0.08em;
  line-height: 1.5;
}

.l-footer__container {
  padding: var(--s3) 0;
  padding-bottom: var(--s1);
}

.l-footer__inner {
  position: relative;
}
.l-footer__inner > * + * {
  margin-left: var(--s5);
}

.l-footer__button {
  max-width: 840px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 840px;
  flex: 1 1 840px;
}

.l-footer__buttonLink {
  position: relative;
  padding: var(--s3);
  width: 100%;
  height: 100%;
  background-color: var(--gray);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.l-footer__buttonLink > * + * {
  margin-top: 0;
}
.l-footer__buttonLink::before {
  position: absolute;
  top: 50%;
  right: var(--s3);
  overflow: hidden;
  width: 36px;
  height: 36px;
  background-image: url(../images/linkArrow.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  pointer-events: none;
}
.l-footer__buttonLink:hover::before {
  -webkit-animation: arrowLink 0.6s cubic-bezier(0.76, 0, 0.24, 1);
  animation: arrowLink 0.6s cubic-bezier(0.76, 0, 0.24, 1);
}

@-webkit-keyframes arrowLink {
  0% {
    background-position: center;
  }
  13% {
    background-position: 10px -10px;
  }
  25% {
    background-position: 36px -36px;
  }
  50% {
    background-position: -36px -36px;
  }
  75% {
    background-position: -36px 36px;
  }
  100% {
    background-position: center;
  }
}

@keyframes arrowLink {
  0% {
    background-position: center;
  }
  13% {
    background-position: 10px -10px;
  }
  25% {
    background-position: 36px -36px;
  }
  50% {
    background-position: -36px -36px;
  }
  75% {
    background-position: -36px 36px;
  }
  100% {
    background-position: center;
  }
}
.l-footer__list {
  font-weight: bold;
}
.l-footer__list > * + * {
  margin-top: var(--s0);
}

.l-footer__listItemLink {
  padding: calc(var(--s0) / 2);
}

.l-footer__buttonText {
  display: block;
  font-size: 1.5rem;
}

.l-footer__buttonText[lang=en] {
  font-weight: 900;
  font-size: 3.375rem;
}

.l-footer__topButton {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 27px;
  height: 163px;
}
.l-footer__topButton img {
  padding-bottom: var(--s1);
}
.l-footer__topButton img:first-child {
  -webkit-animation: pageTopSlide01 8s -4s linear infinite;
  animation: pageTopSlide01 8s -4s linear infinite;
}
.l-footer__topButton img:last-child {
  -webkit-animation: pageTopSlide02 8s linear infinite;
  animation: pageTopSlide02 8s linear infinite;
}

@-webkit-keyframes pageTopSlide01 {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes pageTopSlide01 {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@-webkit-keyframes pageTopSlide02 {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }
}
@keyframes pageTopSlide02 {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }
}
.l-footer__copy {
  text-align: right;
  font-size: 0.875rem;
}

.c-sentence {
  letter-spacing: 0.05em;
  font-size: 1rem;
  line-height: 2;
}
.c-sentence > * + * {
  margin-top: var(--s1);
}

.c-sentence--m {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 2;
}
@media screen and (min-width: 576px) {
  .c-sentence--m {
    font-size: 1rem;
  }
}

.c-sentence--l {
  font-size: 1.5rem;
}
@media screen and (min-width: 576px) {
  .c-sentence--l {
    font-size: 1rem;
  }
}

.c-sentence--heightBiggish {
  line-height: 2;
}

.c-sentence__paragraph {
  display: block;
}

.c-heading {
  letter-spacing: 0.08em;
  line-height: 1.5;
}

.c-headingtitle {
  font-weight: normal;
}
.c-headingtitle > * + * {
  margin-top: var(--s1);
}

.c-headingtitle__text {
  font-size: 1.5rem;
}

.c-headingtitle__text--primary span {
  display: block;
}
.c-headingtitle__text--primary span:first-child {
  font-weight: 900;
  font-size: 5rem;
  line-height: 1.2;
}
.c-headingtitle__text--primary span:last-child {
  font-weight: 400;
  font-size: 2rem;
}

.c-headingtitle__text--secondary {
  font-weight: 400;
}

.c-button {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: var(--s0) var(--s4);
  border-radius: 4px;
  color: #fff;
  font-size: var(--font-size-smallish);
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media screen and (min-width: 576px) {
  .c-button {
    width: 100%;
  }
}

.c-button__text {
  font-weight: bold;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-lowercase {
  text-transform: lowercase;
}

.u-centerposition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.u-visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
}

.u-bold {
  font-weight: bold;
}

.u-color\:white {
  color: #fff;
}

.u-block {
  display: block;
}

.u-left {
  text-align: left;
}

.u-center {
  text-align: center;
}

.u-font-size\:smallish {
  font-size: var(--font-size-smallish);
}

.u-font-size\:biggish {
  font-size: var(--font-size-biggish);
}

.u-font-size\:big {
  font-size: var(--font-size-big);
}

/* Foundation
  ------------------------------------------------*/
/* Layout (prefix: l-)
  ------------------------------------------------*/
/* Component (prefix: c-)
  ------------------------------------------------*/
/* JavaScript (prefix: js- or [data-js])
------------------------------------------------*/
/* Project (prefix: p-)
  ------------------------------------------------*/
/* Utility (prefix: u-)
  ------------------------------------------------*/